.blogList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 768px;

  h2 {
    margin-top: 10px;
  }
}

.blogList li {
  border-bottom: 1px dashed var(--shade-2);
  padding-bottom: 20px;
  margin: 0;

  &:last-child {
    border-bottom: none;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
