# Hoist all dependencies to the root node_modules
hoist=true
hoist-pattern[]=*

# This ensures build tools like tsup are available to all packages
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=tsup
