[phases.setup]
nixPkgs = ["nodejs_22"]
nixLibs = []

[phases.install]
cmds = ["corepack enable", "corepack prepare pnpm@9.1.2 --activate", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm start"
