.title {
  padding-top: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.notFound > p {
  margin: 0;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.beerIcon {
  width: 36px;
  height: 36px;
  color: var(--foreground);
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
