@use "./breakpoints.scss";
@use "./toRem.scss";

.collaborationStatus {
  display: inline-flex;
  gap: toRem.toRem(10);

  span {
    display: none;
  }

  @media (min-width: breakpoints.$breakpoint-mobile) {
    span {
      display: inline-flex;
    }
  }
}
