@use "./toRem.scss";
@use "./breakpoints.scss";

.emptyStateTips {
  margin-top: toRem.toRem(15);
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: toRem.toRem(13);
}

.tip {
  margin-bottom: toRem.toRem(10);
  position: relative;
}

.tipText {
  opacity: 0.8;
}
