@use "breakpoints.scss";
@use "utils.scss";
@use "./toRem.scss";

.menu {
  background-color: var(--shade-1-transparent);
  backdrop-filter: blur(toRem.toRem(20.5));
  padding: toRem.toRem(10) toRem.toRem(12.5) toRem.toRem(10) toRem.toRem(10);
  flex-direction: column;
  border-right: toRem.toRem(1) dashed var(--shade-2);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  display: none;

  width: toRem.toRem(250);

  @media print {
    display: none !important;
  }
}

.threadList {
  opacity: 0;
}

.open {
  position: static;
  display: flex;
  position: fixed;
  z-index: 9999;
}

.closed {
  display: none;
}

.profileButton {
  font-size: toRem.toRem(17.5);
  font-weight: 600;
}

.hamburgerMenu {
  display: flex;
  align-items: center;
  top: toRem.toRem(10);
  gap: toRem.toRem(15);
  left: toRem.toRem(10);
}

.hamburgerButton {
  color: var(--accent-1);
}
.menuContent {
  width: 100%;
  display: flex;
  animation: slideRight 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  @include utils.respect-reduced-motion;
}

.threads {
  margin-top: toRem.toRem(7.5);
  margin-right: toRem.toRem(-7.5);

  &.threadItem {
  }
}

.loading {
  display: flex;
  flex-direction: column;
}

.noThreadsContainer {
  font-size: toRem.toRem(12);
}

.threadsTitle {
  font-size: toRem.toRem(18);
  margin: 0;
  margin-bottom: toRem.toRem(7.5);
  display: flex;
  align-items: center;
  gap: toRem.toRem(5);
}

.loadMoreButton {
  font-size: toRem.toRem(12.5);
  padding: toRem.toRem(5) toRem.toRem(10);
  display: flex;
  align-items: center;
  gap: toRem.toRem(5);
  margin-top: toRem.toRem(10);
  margin-bottom: toRem.toRem(7.5);
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
}

.menuHeader {
  margin-right: toRem.toRem(-5.5);
}

.menuHeader.mobileMenuHeader {
  display: flex;

  &.open {
    display: none;
  }
  @media (min-width: breakpoints.$breakpoint-tablet) {
    display: none;
  }
}

.colorSchemeContainer {
  display: flex;
  align-items: center;
  gap: toRem.toRem(5);
}

.reduceMotionButton {
  margin-left: auto;
  font-size: toRem.toRem(12);
}

.menuHeader.desktopMenuHeader {
  display: none;

  &.open {
    display: flex;
  }
  @media (min-width: breakpoints.$breakpoint-tablet) {
    display: flex;
  }
}

.threadsList {
  display: flex;
  flex-direction: column;
  gap: toRem.toRem(5);
  margin-top: toRem.toRem(10);
  font-size: toRem.toRem(12.5);
}

.starActive {
  display: inline-flex;
}

.brand {
  font-size: toRem.toRem(18);
  font-weight: bold;
  color: var(--shade-7);
}

.threadItem {
  padding-right: toRem.toRem(17);
  display: flex;
  align-items: center;
  gap: toRem.toRem(3);
  position: relative;
  font-size: toRem.toRem(13);
  color: var(--shade-7);
}

.star {
  position: absolute;
  top: 1;
  right: 0;
  display: inline-flex;
}

.collaborationStatus {
  margin-left: auto;
}

.menuContent {
  display: flex;
  margin-top: toRem.toRem(10);
  @media (min-height: toRem.toRem(700)) {
    margin-top: toRem.toRem(30);
  }
}

.footer {
  display: flex;
  margin-top: toRem.toRem(20);
  flex-direction: column;
  gap: toRem.toRem(12.5);

  .bottom {
    display: flex;
    align-items: center;
    gap: toRem.toRem(10);
  }

  .colorScheme {
    margin-left: toRem.toRem(5);
  }

  margin-top: auto;

  @media all and (display-mode: standalone) {
    margin-top: auto;

    &.ios {
      padding-bottom: toRem.toRem(15);
    }
  }

  &.standalone {
    margin-top: auto;

    &.ios {
      padding-bottom: toRem.toRem(15);
    }
  }

  &.android:not(.standalone) {
    position: relative;
    bottom: toRem.toRem(5);
  }
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: toRem.toRem(7.5);
  flex: 1;
}

.menuItemButton {
  font-size: toRem.toRem(14);
  align-items: center;
  display: inline-flex;
  justify-content: center;
  gap: toRem.toRem(5);
  padding: toRem.toRem(7) toRem.toRem(10);
  align-self: flex-start;
}

.menuHeader {
  display: flex;
  align-items: flex-start;
}

.menuButton {
  display: flex !important;
  margin-left: auto !important;
}

// .menuItemButton {
//   display: flex;
//   align-items: center;
//   gap: toRem.toRem(5);
//   flex-direction: row;
// }
