@use "./toRem.scss";

.moodify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  margin-bottom: 12px;

  &.drawerOpen {
    left: toRem.toRem(255);
  }

  @media all and (display-mode: standalone) {
    &.iOS {
      margin-bottom: 25px;
    }

    &.android {
      margin-bottom: 8px;
    }
  }

  &.chatOpen {
    margin-bottom: 0px !important;

    @media (min-width: 431px) {
      margin-bottom: 12px !important;
    }
  }
}
.chatOpen {
  margin-bottom: 0px;
  @media (min-width: 431px) {
    margin-bottom: 10px;
  }
}

.chatBox.chatOpen {
  padding-bottom: 10px;

  @media all and (display-mode: standalone) {
    &.iOS {
      padding-bottom: 20px;
    }
  }
}

.content {
  padding: 15px 15px 10px 15px;
  background-color: var(--background-transparent);
  border: 1px solid var(--shade-2-transparent);
  border-radius: 20px;

  animation: slideUp 0.3s ease-in-out;
  position: relative;
  backdrop-filter: blur(8px);
}

.chevronDown {
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--shade-3);
  z-index: 10000;
}

.emojiContainer {
  display: flex;
  gap: 7.5px;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tryMoodTracker {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 11px;
  text-align: center;
}

.loadingMood {
  display: flex;
  align-items: center;
  justify-content: center;
}

.startChat {
  margin-top: 7.5px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.startChatButton {
  display: flex;
  position: relative;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}

.salutation {
  text-align: center;
  margin-bottom: 8.5px;
  font-size: 14.2px;
}

.mobile {
  display: inline;
}
.desktop {
  display: none;
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

.moodSelector {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.emoji {
  font-size: 24px;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.nextMessagesPage {
  margin-bottom: 10px;
}

.chatBox {
  background-color: var(--shade-1);
  background: var(--shade-1-transparent);
  backdrop-filter: blur(15px);
  border-top: 1px solid var(--shade-2);
  border-radius: 0px;
  max-width: 431px;
  height: calc(100vh - 80px);

  width: 100%;
  margin: 0 auto;
  animation: slideUp 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;

  @media all and (display-mode: standalone) {
    height: 100vh;

    // &.iOS {
    //   height: calc(100vh - 75px);
    // }
  }

  @media (min-width: 431px) {
    height: 650px;
    border: 1px solid var(--shade-2);
    border-radius: 20px;
    width: 90%;
    height: 90vh;
  }
}

.footer {
  margin-top: auto;
}

.credits {
  margin-top: 7px;
  margin-bottom: 0px;
  padding-left: 20px;
  font-size: 11px;
  color: var(--shade-6);
}

.chartCandlestick {
  position: relative;
  top: 1px;
  left: 3px;
}

.editButton {
  font-size: 11px;
}

.notification {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 16px;

  &.iOS {
    top: -8px;
    right: -8px;
    font-size: 14px;
  }
}

.subscribeButton {
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  top: 2.7px;

  &:active {
    top: 3.82px;
  }
}

.buyCreditsButton {
  font-size: 11px;
}

.inputContainer {
  margin-top: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding: 10px;
  .input {
    flex: 1;
  }

  .sendButton {
  }
}
.messagesContainer {
  line-height: 1.3;
  overflow-y: auto;
}

.nextMessagesPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nextMessagesPage button {
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.message {
  border-bottom: 1px solid var(--shade-2);
  padding-bottom: 10px;
  padding: 15px 10px;

  font-size: 14px;

  &:first-child {
  }

  &:last-child {
    border-bottom: 0px;
  }

  .title {
    flex-direction: row;
    gap: 5px;
    align-items: center;

    display: flex;
    flex-direction: row;
    .time {
      font-size: 11px;
      color: var(--shade-4);
      margin-left: auto;
      position: relative;
      margin-top: -11px;
    }
  }
}

.editEmoji {
  font-size: 19px;
}

.closeChatButton {
  margin-left: auto;
}

.aiMessage {
  background-color: rgba(234, 234, 234, 0.07);
}

.creditsCount {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 2px;
  gap: 1px;
  color: var(--accent-6);
  &.orange {
    color: var(--accent-1);
  }

  &.red {
    color: var(--accent-0);
  }
}

.messageAgent,
.messageUser {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-direction: row;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--accent-6);
}
.messageUser {
  gap: 6px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--shade-2);
  gap: 5px;
  padding: 10px;
}

.messageContent {
  font-size: 13px;
  > p {
    margin: 0;
    padding: 0;
  }
}

.ai,
.user {
  font-weight: bold;
}

.headerTitle {
  font-size: 16px;
  line-height: 1.3;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}
