@use "../toRem.scss";

.accountButton {
  display: flex;
  align-items: center;
  gap: toRem.toRem(5);
  padding: toRem.toRem(5) toRem.toRem(10);
  background-color: var(--background);
  border: toRem.toRem(1) solid var(--shade-2);
  box-shadow: none;
  color: var(--foreground);
  svg {
    stroke: var(--accent-6);
  }
  &:hover,
  &:disabled {
    background-color: var(--background);

    svg {
      stroke: var(--accent-5);
    }

    color: var(--shade-6);
  }
}

.userNameContainer {
  display: flex;
  align-items: center;
  gap: toRem.toRem(5);
  margin: toRem.toRem(10) 0 toRem.toRem(5) 0;
}

.userNameContainerInput {
  flex: 1;
}

.email {
  display: flex;
  align-items: center;
  gap: toRem.toRem(10);
}
.deleteAccountButton {
  margin-left: auto;
}

.userImageContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: toRem.toRem(10);
}

.userImageWrapper {
  display: flex;
  align-items: center;
  gap: toRem.toRem(10);
  position: relative;
  cursor: pointer;
}

.userImage {
  border-radius: 50%;
}

.editImageButton {
  padding: toRem.toRem(3) !important;
  position: absolute;
  bottom: toRem.toRem(-4);
  right: toRem.toRem(-5);
}

.deleteAccount {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.accountContainer {
  display: flex;
  flex-direction: column;
  gap: toRem.toRem(10);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: toRem.toRem(15);
  margin: 0;
  flex: 1;
}

.title {
  font-size: toRem.toRem(22);
  flex: 1;
  line-height: 1.2;
}

.close {
  margin-left: auto;
}

.accounts {
  margin-top: toRem.toRem(5);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.linkAccount,
.accountLinked {
  margin-bottom: toRem.toRem(10);
  display: flex;
  align-items: center;
  gap: toRem.toRem(5);
  justify-content: center;
}

.linkAccount {
  margin-left: auto;
}
.cookieConsent {
  max-width: toRem.toRem(400);
  padding: 0;
  border: none;
  margin-bottom: toRem.toRem(10);
}
.accountLinked {
  justify-content: flex-start;
}

.logoutButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: toRem.toRem(5);
  margin-left: auto;
}

.actions {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: toRem.toRem(15);
  margin-top: toRem.toRem(5);
  font-size: toRem.toRem(14);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(toRem.toRem(20)); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}
