[phases.setup]
nixPkgs = ["nodejs_22"]
nixLibs = []

[phases.install]
cmds = ["corepack enable", "corepack prepare pnpm@9.1.2 --activate", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm build --filter api..."]

[start]
cmd = "pnpm --filter api start"


[variables]
TURBO_API = "$TURBO_API"
TURBO_TOKEN = "$TURBO_TOKEN"  
TURBO_REMOTE_CACHE_SIGNATURE_KEY = "$TURBO_REMOTE_CACHE_SIGNATURE_KEY"
TURBO_TEAM = "vex"